body {
	background-color:#EDEDED;
}

.box-holder {
	margin:50px;
}

.box {
	background-color:#FFFFFF;
	padding:20px;
	font-size: .9em
}

a {
	color:#666666;
}

h1 {
	color:#0BADA6;
	font-family:georgia;
	font-weight:bold;
	font-size: 2em
}

h3 {
	color:#0BADA6;
	font-family:georgia;
	font-weight:bold;
}

img {
	padding-right:15px;
	padding-bottom:15px;
}

.wrap img {
	float: left;
	padding-bottom:5px;
}

.img-thumbnail {

}

.img2 {

}

nav {
	background-color:#FFFFFF;
	margin-left:-20px;
	margin-right:-20px;
}

.navbar-brand {
	background-color:#0BADA6;
	color:#FFFFFF;
	font-family:georgia;
	font-weight:bold;
	font-size: 1.75em
}

/* Adding media queries: */
@media (max-width: 1050px) {
	h1  {
		font-size: 1.75em;
	}
	h3  {
		font-size: 1.5em;
	}
	.box {
		font-size: .75em;
	}
	.box-holder {
		margin:20px;
	}
}